@import '../../node_modules/normalize-scss/fork-versions/default/normalize';
@import './utils/tag-settings';
@import './components/news-app/header';
@import './components/news-app/card-section';

.container {
  max-width: 1280px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}
