.header {
  background-color: #45880675;
  padding-top: 25px;
  padding-bottom: 25px;
  &__container {
    padding-left: 30px;
    padding-right: 30px;
  }
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__theme-box {
    display: flex;
    align-items: center;
  }
  &__theme {
    margin-right: 25px;

    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.17;
  }
  &__select {
    padding: 5px;
    cursor: pointer;
    background-color: #faf5f5;
    border: none;
    border-radius: 5px;
    font-family: 'open sans', sans-serif;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
  }
  &__default-theme,
  &__light-theme,
  &__dark-theme,
  &__select {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.17;
  }
  &__back {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf5f5;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
  }
  &__arrow {
    width: 20px;
    height: 20px;
    transition: transform 350ms;
  }
  &__back:hover .header__arrow,
  &__back:focus .header__arrow {
    transform: rotate(-360deg);
  }
}
