.header {
  background-color: #45880675;
  padding-top: 25px;
  padding-bottom: 25px;
  &__container {
    padding-left: 30px;
    padding-right: 30px;
  }
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__theme-box {
    display: flex;
    align-items: center;
  }
  &__theme {
    margin-right: 25px;

    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.17;
  }
  &__select {
    background-color: #faf5f5;
    border: none;
    border-radius: 5px;
    font-family: 'open sans', sans-serif;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
  }
  &__back {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf5f5;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
  }
  &__arrow {
    width: 20px;
    height: 20px;
  }
}
.main {
  padding-top: 60px;
  &__container {
    padding-left: 30px;
    padding-right: 30px;
  }
  &__info-container {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  &__card-title {
    margin-bottom: 30px;
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.17;
  }
  &__card-item {
    padding: 10px;
    background-color: #faf5f5;
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
  }
  &__card-item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__task-container {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  &__task-form {
    margin-bottom: 30px;
    display: inline-flex;
    flex-direction: column;
  }
}
