.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2b2170f2;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  &__title {
    font-family: 'readex pro', sans-serif;
    width: 55%;
    text-align: end;
    color: #faf5f5;
  }
  &__back {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf5f5;
    border-radius: 50%;
    text-decoration: none;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__arrow {
    fill: #2b2170f2;
    width: 20px;
    height: 20px;
    transition: 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &__back:hover .header__arrow,
  &__back:focus .header__arrow,
  &__back:hover,
  &__back:focus {
    fill: #faf5f5;
    background-color: transparent;
  }
}
