.news-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: whitesmoke;
  &__card-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
    margin-left: auto;
    margin-right: auto;
  }
  &__card {
    max-width: 400px;
    min-height: 500px;
    margin: 15px;
    width: calc(100 / 2 * 30px) / 2;
    border-radius: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
      23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  &__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    filter: grayscale(100%);
    transition: filter 250ms;
  }
  &__card:hover .news-section__image {
    filter: none;
  }
  &__content-box {
    padding: 0 25px;
  }
  &__action-box {
    padding: 0 25px 25px 25px;
  }
}
