.news-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: whitesmoke;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  &__card-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: -15px;
    margin-left: auto;
    margin-right: auto;
  }
  &__card {
    max-width: 400px;
    min-height: 600px;
    margin: 15px;
    width: calc(100 / 2 * 30px) / 2;
    border-radius: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
      23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  &__image {
    margin-bottom: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    filter: grayscale(100%);
    transition: filter 250ms;
  }
  &__card:hover .news-section__image {
    filter: none;
  }
  &__card-title {
    font-family: 'readex pro', sans-serif;
    margin-bottom: 30px;
  }
  &__content-box {
    padding: 0 25px;
    margin-bottom: 30px;
  }
  &__action-box {
    margin-bottom: 10px;
    text-align: center;
    padding: 0 25px 25px 25px;
  }
  &__action-link {
    text-decoration: none;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #2b2170f2;
    background-color: #faf5f5;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
      0px 2px 1px rgb(0 0 0 / 20%);
    transition: 250ms;
  }
  &__action-link:hover,
  &__action-link:focus {
    background-color: #2b2170f2;
    color: #f5f5f5;
  }
}
